html {
    box-sizing: border-box;

}

*,::after, ::before {
    box-sizing: inherit;
}

body {
    font-family: "Lato", sans-serif;
}

.container {
    background-color: white;
    max-width: 700px;
    margin: 0 auto;
    padding: 0 20px;
}

.result {
    padding: 10px;
    text-align: center;
}

.background {
    background-image: url("../images/background.png");
    resize: both;
    overflow: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: local;

}

